
*.sln

Temp/UnityLockfile

Library/CurrentLayout.dwlt

Library/expandedItems

iBeaconPluginTest.sln

iBeaconPluginTest-csharp.sln

plugin6.unitypackage

plugin7.unitypackage

*.unitypackage
plugintest/*